# Django
SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# Database
# SQLite is used by default, no additional configuration needed

# JWT Settings
SIMPLE_JWT_ACCESS_TOKEN_LIFETIME_DAYS=1000
SIMPLE_JWT_AUTH_HEADER_TYPES=Bearer